.line-section023 {
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 85px;
    }

    @media (max-width: 480px) {
        .line-section023 .star-icon023 {
            max-width: 92px;
        }
    }

    .r_seen_inner-2023 {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .dir-rtl .r_seen_inner-2023 {
        flex-direction: row-reverse;
    }

    .r_seen_swiper-2023 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .r_logo-container023 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-animation: track 60s linear forwards infinite;
        animation: track 60s linear forwards infinite;
        min-width: calc(560px * 5) !important;
    }

    .r_content-holder023 {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 560px;
        min-width: 560px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .r_logo-slide-wrapper023 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        min-width: 100px;
        margin-right: 20px;
        margin-left: 20px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .r_logo-slide-wrapper023 img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    .logo-center-el023 {
        position: absolute;
        left: 50%;
        top: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 35%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: transparent;
        background-image: radial-gradient(circle farthest-corner at 50% 50%, #fff 47%, rgba(255, 255, 255, 0.73) 81%, rgba(247, 252, 253, 0));
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 21px;
        line-height: 21px;
        font-weight: 700;
        text-align: center;
    }

    .line-section023 {
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 85px;
    }

    @media (max-width: 480px) {
        .line__text023 {
            font-size: 16px;
        }
    }
.r_logo-container023 {
                            animation: track 60s linear forwards infinite;
                            min-width: calc(560px * 5) !important
                        }

                        @media screen and (max-width: 479px) {
                            .r_logo-container023 {
                                /*animation:track 50s linear infinite*/
                            }
                        }

                        @keyframes track {
                            0% {
                                transform: translateX(0)
                            }

                            100% {
                                /*transform:translateX(calc(-560px * 5))*/
                                transform: translateX(-100%)
                            }
                        }
